* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

.kitchenContainer {
  display: flex;
  flex-wrap: wrap;
}

.kitchenName {
  font-size: 17px;
  text-align: left;
  margin: 2%;
  font-family: cursive;
}

.kitchenTable {
  margin: 2%;
  width: 50%;
  font-family: cursive;
}

.kitchenDateSalida,
.kitchenDateEntrada {
  margin: 0% 0% 0% 2%;
  width: 74%;
  font-family: cursive;
}

.kitchenTotal {
  font-size: 21px;
  font-family: cursive;
}

.header {
  position: fixed;
  background: linear-gradient(to right, #78bb55 0%, #5a5a5a 100%);
  width: 100%;
  height: 54px;
  margin-bottom: 2%;
}

.cardContainer {
  background: white;
  width: 24%;
  margin: 6% 0% 2% 7%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 2%;
}

.kitchenProducts {
  display: flex;
  flex-direction: row;
  font-family: cursive;
  margin: -3% 0% 0% 0%;
}

.productName {
  margin: 2%;
  width: 80%;
}

.productQuantify {
  width: 10%;
  margin: 2%;
}

.iconos {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

h1 {
  width: 360px;
  margin-left: 26px;
  font-family: Livvic;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.05em;
  color: #5a5a5a;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 25px;
    margin-left: 35px;
  }

  header {
    height: 16px;
    margin-bottom: 0.5%;
  }

  .order {
    margin-top: 9vh;
    border-radius: 16px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .cardContainer {
    width: 29%;
    margin: 10% 0% 2% 3%;
  }

  .kitchenProducts {
    display: flex;
    flex-direction: row;
    font-family: cursive;
    margin: 0% 4% 0% 4%;
  }

  .kitchenTotal {
    font-size: 18px;
    margin-left: 4%;
    margin-right: 4%;
  }

}
