.card {
  display: flex;
  align-items: flex-start;
}

.productContainer {
  height: 82vh;
  width: 100%;
}

.containerCard {
  height: 18vh;
  width: 18vh;
  border: none;
  border-radius: 12%;
  cursor: pointer;
  margin: 3px 13px -6px 39px;
  background: #ffffff;
}

.containerCard:focus {
  outline: none;
}

@keyframes toggle {
  from {
    transform: scale(0.6);
    background: #bfe6ac;
  }

  to {
    transform: scale(1);
  }
}

.containerCardActive {
  background: #7ec858;
  animation: 200ms toggle ease;
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.card-price {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.05em;
}
hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid black;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
  }

  .containerCard {
    height: 15vh;
    width: 15vh;
    margin: 8px 0px 0px 20px;
  }

  .item-img {
    max-width: 50px;
    max-height: 40px;
  }
}
