body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cotenedorInicial {
  text-align: center;
  background-image: url("./img/home.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
.ingresar {
  background: #78bb55;
  color: white;
  height: 63px;
  width: 22%;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -22%;
  margin-left: 14%;
  margin-top: 25%;
  font-size: 21px;
}
.logo {
  background-image: url("./img/logo.png");
  position: absolute;
  min-width: 18%;
  min-height: 39%;
  background-size: cover;
  background-position: center;
  margin-left: 15%;
}
