.card {
  display: flex;
  align-items: flex-start;
}

.listado {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  margin-left: -4%;
}
.productContainer {
  height: 82vh;
  width: 100%;
}
.containerCard {
  background: white;
  height: 19vh;
  width: 23%;
  margin-top: 6%;
  border-radius: 12%;
  box-shadow: 2px 2px 0 0 #0000005c;
  cursor: pointer;
}
.productCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
