.clientName{
  width: 572px;
  height: 58.42px;
  left: 22px;
  top: 119.91px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 15px 0px 0px 0px;
}

.clientTable {
  width: 208px;
  height: 58.83px;
  left: 594px;
  top: 119.91px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 0px 15px 0px 0px;
}
